<html>

<style>
  body { background-color: powderblue; }
</style>

<body>
  <br><br>
  <form action= "/users/new" method = get>
    	<input type = "submit" value = "Sign Up">
  </form>
  <br><br><br>
  <form action= "/peeps" method = post>
  	<input type = "text" name = "content" placeholder="Content">
  	<input type = "submit" value = "Post Peep">
  </form>
  <br>

  <ul id='peeps'>

    <%@peeps.reverse.each do |peep|%>
      <li>
        <%=peep.content%> created at <%=peep.created_at.strftime("%Y-%m-%e %H:%M")%>
      </li>
    <%end%>
  </ul>

</body>
</html>
