<form action= "/users" method = post>
	<input type = "text" name = "email" placeholder="email">
  <input type = "text" name = "password" placeholder="password">
  <input type = "text" name = "password_confirmation" placeholder="repeat password">
	<input type = "submit" value = "Sign up">
</form>
